body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header-top #col1 {
    background-color: #FFDD00;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header-top #col1 p {
    margin: 0;
    font-size: 1.2rem;
    color: #fff;
}

header-button #col1 {
    background-color: #fff;
    height: 15vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

header-button .logo img {
    width: 100px;
}

header-button nav {
    display: flex;
    color: #FEFEDF;
    font-weight: 500;
}

header-button nav a {
    margin-right: 1rem;
}

header-button nav a:hover > i, header-button nav a:hover > span{
    color: #f0bf0f;
    transition: color 0.3s ease-in-out;
}

header-button nav span {
    display: block;
}

header-button nav i {
    font-size: 2rem;
}

nav .col-3 {
    background-color: #FEFEDF;
}

nav #col1 {
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #col1 p {
    margin: 0;
    font-size: 1rem;
    color: #fff;
}

nav #col2 {
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #col2 p {
    margin: 0;
    font-size: 1rem;
    color: #fff;
}

nav #col3 {
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #col3 p {
    margin: 0;
    font-size: 1rem;
    color: #fff;
}

nav #col4 {
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #col4 p {
    margin: 0;
    font-size: 1rem;
    color: #fff;
}

section #row1 #col1 {
    background-color: #D5CABD;
    height: 90vh;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

section #row1 #col1 p {
    margin: 0;
    font-size: 2rem;
    color: #fff;
}

section #row2 #col1 {
    background-color: #D5CABD;
    height: 90vh;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

section #row2 #col1 p {
    margin: 0;
    font-size: 2rem;
    color: #fff;
}

section #row3 #col1 {
    background-color: #D5CABD;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section #row3 #col1 p {
    margin: 0;
    font-size: 2rem;
    color: #fff;
}

footer #col1 {
    background-color: #AAA5DC;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #col1 p {
    margin: 0;
    font-size: 2rem;
    color: #fff;
}